{% extends "base/main.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="main__container">
    <div class="main__container__opt">
    <h1>{% trans "Resetowanie hasła" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Na podany email wysłaliśmy wiadomość resetującą hasło. Jeżeli nie możesz znaleść wiadomości upewnij się, że nie znajduje się ona w folderze SPAM. Jeśli wiadomość nie dotrze w przeciągu kilku minut skontaktuj się z nami.{% endblocktrans %}</p>
    </div>
</section>
{% endblock %}
