{% extends "base/main.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block content %}
<section class="main__container">
    <div class="main__container__opt">
    <h1>{% trans "Zresetuj hasło" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Zapomniałeś hasła? Podaj adres email, na który wyślemy link resetujący hasło." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-1" role="button" type="submit">{% trans "Resetuj hasło" %}</button>
    </form>

    <p>{% blocktrans %}Jeżeli masz jakieś problemy skontaktuj się z nami.{% endblocktrans %}</p>
    </div>
</section>
{% endblock %}
